<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../imagenes/GAMEWORD.png" type="image/x-icon" sizes="17x17">
</head>
<body>
    <header>
        <nav class="nav">
            <a href="../index.html">
                <img class="nav__logo" src="../imagenes/GAMEWORD.png" alt="Logo game" title="Game">
            </a>
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a class="fa-solid fa-house Inicio" href="../index.html"></a>
                </li>
                <li class="nav__list-item">
                    <a class="activo Productos" href="Productos.html">Productos</a>
                </li>
                <li class="nav__list-item">
                    <a class="Presupuestos" href="Presupuesto.html">Presupuesto</a>
                </li>
                <li class="nav__list-item">
                    <a class="Contacto" href="Contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <section class="container__grid">
            <article class="card">
                <img class="card__img" src="../imagenes/COD.png" alt="imagen call of duty" width="260" height="260">
                <div class="card__content">
                    <h3 class="card__content-titulo">Call Of Duty: Black Ops 6</h3>
                    <mark class="card__content-precio">&euro;75,99</mark>
                </div>
            </article>
            <article class="card">
                <img class="card__img" src="../imagenes/FC.png" alt="imagen EA Sports" width="260" height="260">
                <div class="card__content">
                    <h3 class="card__content-titulo">EA Sports FC 25</h3>
                    <mark class="card__content-precio">&euro;70,99</mark>
                </div>
            </article>
            <article class="card">
                <img class="card__img" src="../imagenes/GTA.png" alt="imagen grand theft auto" width="260" height="260">
                <div class="card__content">
                    <h3 class="card__content-titulo">Grand Theft Auto V</h3>
                    <mark class="card__content-precio">&euro;39,99</mark>
                </div>
            </article>
            <article class="card">
                <img class="card__img" src="../imagenes/Crash.png" alt="Crash Bandicoot 4" width="260" height="260">
                <div class="card__content">
                    <h3 class="card__content-titulo">Crash Bandicoot 4:It's about time</h3>
                    <mark class="card__content-precio">&euro;23,99</mark>
                </div>
            </article>
            <article class="card">
                <img class="card__img" src="../imagenes/Farming.png" alt="farming simulator 25" width="260" height="260">
                <div class="card__content">
                    <h3 class="card__content-titulo">Farming Simulator 25</h3>
                    <mark class="card__content-precio">&euro;55,75</mark>
                </div>
            </article>
            <article class="card">
                <img class="card__img" src="../imagenes/DragonB.png" alt="Dragon Ball Sparking Zero" width="260" height="260">
                <div class="card__content">
                    <h3 class="card__content-titulo">Dragon Ball Sparking Zero</h3>
                    <mark class="card__content-precio">&euro;69,99</mark>
                </div>
            </article>
            <article class="card">
                <img class="card__img" src="../imagenes/Stalker2.png" alt="Stalker 2" width="260" height="260">
                <div class="card__content">
                    <h3 class="card__content-titulo">Stalker 2</h3>
                    <mark class="card__content-precio">&euro;45,55</mark>
                </div>
            </article>
            <article class="card">
                <img class="card__img" src="../imagenes/warhammer.png" alt="stalker 2" width="260" height="260">
                <div class="card__content">
                    <h3 class="card__content-titulo">Warhammer 40000 space marine 2</h3>
                    <mark class="card__content-precio">&euro;59,99</mark>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <article class="footer__media">
            <a class="fa-brands fa-instagram" href="https://www.instagram.com/" ></a>
            <a class="fa-brands fa-facebook-f" href="https://es-la.facebook.com/"></a>
            <a class="fa-brands fa-whatsapp" href="https://web.whatsapp.com/"></a>
        </article>
        <p class="footer__company">&copy; GameWord S.A.S. Todos los derechos reservados.</p>
        <p class="footer__address">Miguel Hernandez 13, Seseña, Toledo.</p>
    </footer>
</body>
</html>